Clarify session.getRequestParameterMap() returns the elements of the query string

as synopsis, tweak javadoc to spell it out

There can't be any `x-www-form-urlencoded` parameters because the upgrade request has to use `GET` as per RFC 6455 section 4.1. Therefore, the parameter map returned will only be derived from the query string. I'll put together a PR based on this shortly.